/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Global Styles*/
a {
  text-decoration: none;
  color: #111111;
}
section {
  min-height: 100vh;
  width: 100%;
}

/* Header Styles */
header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #ffffff;
}
header > nav {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0 3rem;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
}
header > nav > p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
header > nav > ul {
  display: flex;
  list-style: none;
  margin-left: auto;
}
header > nav > ul > li {
  margin-left: 2rem;
}
header > nav > ul > li > a {
  font-weight: 700;
}

/* Home Section Styles */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home .my-img {
  height: 150px;
  width: 150px;
}
#home .my-img img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#home h1 {
  margin-top: 1rem;
  font-size: 2.6rem;
  font-weight: 600;
}

#home p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

#home button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #111111;
  color: #ffffff;
  border: 1px solid #111111;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#home button:hover {
  background-color: #ffffff;
  color: #111111;
  transition: 0.3s ease-in-out;
}

/* Work Section Styles */

#work .work--gallery {
  width: 100%;
  padding: 0 4rem;
}
#work .work--gallery--title {
  font-size: 2.6rem;
  text-align: center;
}
#work .work--gallery--items--wrapper {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-row-gap: 3rem;
}

#work .work--gallery--item {
  width: 250px;
  height: 250px;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.08);
}

#work .work--gallery--item img,
#work .work--gallery--item audio {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.audio-item {
  background-image: url(../images/audio-thumbnail.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Resume Section Styles  */

#resume .resume--title {
  margin-top: 6rem;
  font-size: 2.6rem;
  text-align: center;
}
#resume .resume--wrapper {
  margin-top: 8rem;
  padding: 0 4rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
}
#resume .resume--work ul li,
#resume .resume--education ul li {
  margin-bottom: 1rem;
}
#resume .resume--skills ul {
  margin-bottom: 1rem;
}
#resume h2 {
  margin-bottom: 1rem;
}

/* Contact Section Styles*/

#contact .contact--title {
  margin-top: 6rem;
  font-size: 2.6rem;
  text-align: center;
}
.contact--wrapper {
  margin-top: 4rem;
  width: 100%;
  padding: 0 4rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
}
#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact form input {
  width: 400px;
}
#contact form textarea {
  width: 400px;
  height: 250px;
}

footer {
  padding: 2rem 0;
  background-color: #111111;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
